<!DOCTYPE html>
<html>
  <head>
    <title>Niles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script type='text/javascript'>
        window.white_logo = "<%=image_url('white_logo.png') %>"
        window.black_logo = "<%=image_url('black_logo.png') %>"
        window.cart_image = "<%=image_url('cart_image_white.png') %>"
        window.avatar_image = "<%=image_url('profile_avatar.png') %>"
        window.amazonprime_image = "<%=image_url('amazon_prime.png') %>"
        window.sample_carousel1_image = "<%=image_url('sample_carousel1.png') %>"
        window.sample_carousel2_image = "<%=image_url('sample_carousel2.jpg') %>"
        window.sample_carousel3_image = "<%=image_url('sample_carousel3.png') %>"
    </script>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script type='text/javascript'>
        window.currentUser = {
          'id' : <%= current_user.id %>,
          'name': '<%= current_user.name %>',
          'email': '<%= current_user.email %>',
        }
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
